<div class="container">
  <mat-card>
    <h1>
      <mat-card-title translate>APP_NAME</mat-card-title>
    </h1>
    <mat-card-content>
      <mat-icon>code</mat-icon>
      <span translate>Vtech offers our customers a package of technology and business expertise. </span>
      <span translate>   We create diverse, complex, intuitive, web and mobile solutions for any business need. </span>
      <span translate> Our knowledge and experience made your ideas turn to solutions and peace of mind for our customers. </span>
      <span translate>  With Vtech you get quality software and perfect service every time.</span> 
    </mat-card-content>
  </mat-card>
</div>
