<div class="container background">
<section >
  <div class="carousel-item active">
    <div class="container">
       <div class="carousel-caption">
          <div class="text-bg">
             <h1 class=" brand">Vtech software</h1>
             <span>IT services  and custome software development</span>
           <p>Vtech offers our customers a package of technology and business expertise. We create diverse, complex, intuitive, web and mobile solutions for any business need. Our knowledge and experience made your ideas turn to solutions and peace of mind for our customers. With Vtech you get quality software and perfect service every time.</p>
          </div>
       </div>
    </div>
 </div>
</section>



</div>
